// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
.app-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 100vh;
}
.router-outlet {
	height: 88%;
}
.bottom-nav {
	height: 12%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	padding: 0.5rem;

	.item {
		text-align: center;
		color: gray;
		a {
			display: block;
			color: inherit;
		}
		ion-icon {
			height: 30px;
			width: 30px
		}
	}

	.router-link-active {
		color: #3880ff;
	}
}
