
<ion-app class="app-container">
	<ion-router-outlet class="router-outlet"></ion-router-outlet>
	<div class="bottom-nav">
		<div class="item" [routerLink]="['/products']"  routerLinkActive="router-link-active">
			<ion-icon name="cart"></ion-icon>
			<a>Termékek</a>
		</div>
		<div class="item" [routerLink]="['/profile/pay']" routerLinkActive="router-link-active">
			<ion-icon name="contact"></ion-icon>
			<a>Profilom</a>
		</div>
		<div class="item" [routerLink]="['/about']" routerLinkActive="router-link-active">
			<ion-icon name="information-circle"></ion-icon>
			<a>Profilom</a>
		</div>
	</div>
</ion-app>
