<ion-header>
	<ion-toolbar>
	<ion-title>
		CAFFEE
	</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
		<ion-col>
	<!-- List of Input Items -->
		<ion-list>
			<ion-item *ngFor="let product of products" [routerLink]="['/details/' + product.id]" routerLinkActive="router-link-active">
				<ion-thumbnail>
					<img [src]="apiUrl + '/images/' + product.img_file + '.' + product.extension">
				</ion-thumbnail>
				<ion-label>{{ product.name }}</ion-label>
				<ion-icon name="cart"></ion-icon>
			</ion-item>
		</ion-list>

		</ion-col>
	</ion-row>

</ion-content>
