<ion-header>
	<ion-toolbar>
		<ion-title>details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-row (swiperight)="navigateBack()">
		<ion-col>
			<ion-card *ngIf="productsLoaded">
				<ion-card-header>
					<ion-img [src]="apiUrl + '/images/' + product.img_file + '.' + product.extension"></ion-img>
				<ion-card-subtitle>{{ product.price }} Ft</ion-card-subtitle>
				<ion-card-title>{{ product.name }}</ion-card-title>
				</ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-button (click)="buyProduct()" class="buy-btn" color="primary" expand="full">Megveszem</ion-button>

</ion-content>
